MONGODB_URI=''
DATABASE_NAME=''

LOCAL_DEV_APP_HOST=''
LOCAL_DEV_APP_PORT=

AUTHOR='Theanh'


WEBSITE_DOMAIN_DEVELOPMENT = 'http://localhost:5173'
WEBSITE_DOMAIN_PRODUCTION = 'https://trello-rose-zeta.vercel.app/'


ADMIN_EMAIL_ADDRESS = 'theanh2172003@gmail.com'
ADMIN_EMAIL_NAME = 'Theanhpronoob' 

ACCESS_TOKEN_SECRET_KEY= ''
ACCESS_TOKEN_LIFE= ''

REFRESH_TOKEN_SECRET_KEY= ''
REFRESH_TOKEN_LIFE= ''