MONGODB_URI=''
DATABASE_NAME=''

LOCAL_DEV_APP_HOST=''
LOCAL_DEV_APP_PORT=

AUTHOR='Theanh'


WEBSITE_DOMAIN_DEVELOPMENT = 'http://localhost:5173'
WEBSITE_DOMAIN_PRODUCTION = 'https://trello-rose-zeta.vercel.app/'

BREVO_API_KEY = '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'
ADMIN_EMAIL_ADDRESS = 'theanh2172003@gmail.com'
ADMIN_EMAIL_NAME = 'Theanhpronoob' 